@import "tailwindcss";

@theme {
  --font-Montserrat: "SF Pro Display", sans-serif;
  --font-os: "Open Sans", sans-serif;
  --font-Montserrat: "Montserrat", sans-serif;
}


.circle-blur {
  background: linear-gradient(90deg, #158CF5 0.06%, rgba(255, 107, 223, 0.00) 102.24%), #2E6881;
  filter: blur(150px);
}